.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  background-size: cover;
}
  
.footer__columns {
  display: flex;
  margin: 60px auto 40px auto;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
  
.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 16px 0 16px 0;
}
  
.footer__column-heading {
  color: white;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
}
  
.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  opacity: .5;
  transition-duration: 1s;
}
  
.logo_place_footer {
  width: 228px;
  height: 32px;
}
  
.footer__column_content_info_links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 20px 0 16px 0;
  row-gap: 10px;
  padding: 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}