.video {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.iframes {
  position: relative;
  width: 1050px;
  height: 316px;
}
  
.iframe1 {
  margin-right: 20px;
  position: absolute;
  left: 0;
  bottom: -50px;
}
  
.iframe2 {
  position: absolute;
  bottom: -50px;
  right: 0;
}