  .video__iframe {
    width: 515px;
    height: 316px; 
    /* если убрать высоту - видео уезжает - высота прописана в брифе, я не знаю как сделать по-другому */
    margin: 0 20px 0 0;
    position: absolute;
    /* в брифе написано придумайте как сделать, чтобы видео заходили на нижний блок - я сделала это так, */
    /* если меня на relative - видео уезжают. Как сделать по-другому - я не знаю  */
    bottom: -50px;
    border: none;
  }
  
  .video__iframe:last-child {
  margin-right: 0;
  right: 0;
  /* если убрать это значение - видео съезжает, как сделать по-другому я не знаю и не понимаю */
  /* почему так сделать нельзя, если все работает */
  }
  