.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  font-family: 'Inter';
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  display: block;
}
  
.logo_place_header {
  margin-top: 30px;
  margin-left: 64px;
  width: 228px;
  height: 32px;
  position: absolute;
  z-index: 2;
}
  
.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 3;
}
  
.header__subtitle {
  display: inline-block;
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
  
.header__header-link {
  text-decoration: none;
  color: #2f80ed;
}

.header__header-link:hover {
  opacity: .5;
  transition-duration: 1s;
}

.header__main-illustration {
  display: flex;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 765px;
  height: 608px;
  z-index: 1;
}
  
.header__square-pic {
  display: flex;
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}
  
  