.khan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  background-color: #f2f2f2;
}
  
.book-container_link {
  display: flex;
  flex-direction: row;
}
  
.khan_conteiner {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  width: 80%;
}
  
.khan-author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
  
.khan_title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}
  
.khan_quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 50px 0 0 0;
}
  
.khan_quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 36px 0 0 0;
}
  
.khan_quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 0 0;
}
  
.book-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-top: 68px;
}

.book-link:hover {
  opacity: .5;
  transition-duration: 1s;
}

.book-container {
  height: 608px;
  width: 620px;
  margin: 68px 48px 0 0;
  overflow: hidden;
}
  
.book-pic {
  object-fit: cover;
}